main {
  background-image: url("/cinema.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  width: 400px;
  margin: auto;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-img-top {
  height: 280px;
}

.card-body {
  padding: 10px;
}

.carousel-image {
  object-fit: contain;
  max-height: 500px;
  width: 300px;
}

.container-carousel {
  opacity: 80%;
  position: relative;
  background-color: black;
}

.carousel-caption i {
  font-size: 2rem;
}
