<main class="d-flex flex-column align-items-center">
  <div class="container">
    <ngb-alert
      *ngIf="alertMessage"
      type="info"
      (close)="alertMessage = null"
      class="position-fixed top-0 mt-2 z-3 bg-danger text-black bolder border-danger"
    >
      {{ alertMessage }}
    </ngb-alert>
  </div>
  <div class="container fade-in">
    <h2 class="text-center text-warning mt-3 fw-bolder">The most viewed</h2>
    <ngb-carousel class="my-3 position-relative">
      <ng-template ngbSlide *ngFor="let movie of arrMovie; let i = index">
        <div class="container-carousel">
          <img [src]="movie.img" alt="movie.img" class="carousel-image" />
          <div class="">
            <div
              class="carousel-caption position-absolute text-end top-0 end-0 me-3"
            >
              <div class="position-relative">
                <h5 class="d-none d-md-block">{{ movie.titolo }}</h5>
                <p class="d-none d-md-block">{{ movie.descrizione }}</p>
                <div class="position-absolute start-50">
                  <button
                    (click)="addFavorite(movie.id)"
                    class="btn btn-outline-warning"
                  >
                    Add Favorite
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <h2 class="text-center text-warning fw-bolder">Movie List</h2>
      <button
        (click)="toggleMovies()"
        class="btn btn-outline-warning text-black fw-bolder ms-2"
      >
        {{ showMovies ? "Hide" : "Show" }}
      </button>
    </div>

    <div class="row mt-3" *ngIf="showMovies">
      <div
        *ngFor="let movie of arrMovie"
        class="col col-12 col-md-6 col-lg-4 my-2"
      >
        <div class="card bg-black position-relative h-100 shadow">
          <img [src]="movie.img" class="card-img-top" alt="img.movie" />
          <span class="badge bg-danger position-absolute top-0 end-0 m-2">{{
            movie.categoria
          }}</span>
          <div class="card-body d-flex flex-column align-items-start">
            <h5 class="card-title flex-grow-1 text-light">
              {{ movie.titolo }}
            </h5>
            <p class="card-text text-light">{{ movie.descrizione }}</p>
            <button
              (click)="addFavorite(movie.id)"
              class="btn btn-outline-warning"
            >
              Add Favorite
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
