<main class="vh-100 d-flex flex-column align-items-center">
  <div class="card bg-dark bg-opacity-75 w-50 d-flex flex-column">
    <div class="container">
      <h3 class="text-center text-light p-1">Log in with your credentials</h3>
      <form #form="ngForm">
        <input
          type="email"
          class="form-control mb-3"
          placeholder="Email"
          name="email"
          #email="ngModel"
          ngModel
          required
        />
        <input
          type="password"
          class="form-control mb-3"
          placeholder="Password"
          name="password"
          #password="ngModel"
          ngModel
          required
        />
        <button
          (click)="login(form)"
          [disabled]="form.invalid"
          class="btn btn-success"
        >
          log in
        </button>
      </form>
    </div>
  </div>
</main>
